attrs==25.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
numpy==2.2.5
pandas==2.2.3
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
rdflib==7.1.4
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
six==1.17.0
SPARQLWrapper==2.0.0
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
